@import './mixin';

footer{
    margin-top: 4rem;
    width: 100vw;
    height: 50vh;
    padding: 40px 0;
    color: #ffffff;
    background-color: #202122;
    
    @include media("<=320px"){
        height: 80vh;
        overflow: hidden;
     } 

    .wrapper{
        height: 100%;
        width: 70%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0;

        @include media("<=320px"){
            width: 95%;
            flex-direction: column;
         } 

        .sns-link{
            width: 10%;
            @include flexCenter;
            display: inline-block;
            margin-top: -13px;
            margin-bottom: 16px;

            @include media("<=320px"){
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: column;
             } 

            img{
                width: auto;
                height: 35px;
            }

            span{
                width: 100%;
                @include flexCenter;

                
                a{
                    color: rgba(138, 140, 143, 0.7);
                    padding: 10px;
                }

            }
        }

        .contents{
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            @include media("<=320px"){
                width: 100%;
                height: 80%;
                flex-wrap: wrap;
            } 
            .footer-content{
                padding: 0 30px;

                @include media("<=320px"){
                    padding: 0 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 43%;
                    margin-bottom: 20px;
                } 
    
                h4{
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 700;
                    color: #ffffff;
                    margin-bottom: 16px;

                    @include media("<=320px"){
                        line-height: 16px;
                        font-size: 14px;
                        margin-bottom: 5px;
                     } 
                }
    
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    list-style: none;
                    
    
                    li{
                        padding: 0 4px;
                        margin: 0 -4px 8px;

                        @include media("<=320px"){
                            margin: 0 0 2px;
                            padding: 0;
                         } 
    
                        a{
    
                            text-decoration: none;
                            position: relative;
                            color: rgba(255, 255, 255, 0.6);
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: 400;
                            z-index: 10;
                            border-bottom: none;
                            transition: all 0.2s ease 0s;

                            @include media("<=320px"){
                                font-weight: 300;
                                font-size: 12px;
                                line-height: 10px;
                             } 
                        }
                    }
                }
            }
        }

    }

    .license{
        width: 100%;
        text-align: center;
        color:rgba(138, 140, 143, 0.7);
        font-size: 12px;
        text-align: center;
        @include media("<=320px"){
         } 
    }
}