@import './mixin';

footer{
    margin-top: 4rem;
    width: 100vw;
    height: 50vh;
    padding: 40px 0;
    color: #ffffff;
    background-color: #202122;
    
    .wrapper{
        width: 70%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0;

        @include media("<=320px"){
            width: 95%;
         } 

        .sns-link{
            width: 10%;
            @include flexCenter;
            display: inline-block;
            margin-top: -13px;
            margin-bottom: 16px;

            img{
                width: auto;
                height: 35px;
            }

            span{
                width: 100%;
                @include flexCenter;

                
                a{
                    color: rgba(138, 140, 143, 0.7);
                    padding: 10px;
                }

            }
        }

        .contents{
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .footer-content{
                padding: 0 30px;
    
                h4{
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 700;
                    color: #ffffff;
                    margin-bottom: 16px;
                }
    
                ul{
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-align-items: flex-start;
                    align-items: flex-start;
                    list-style: none;
                    
    
                    li{
                        position: relative;
                        display: inline-block;
                        padding: 0 4px;
                        margin: 0 -4px 8px;
    
                        a{
    
                            text-decoration: none;
                            position: relative;
                            color: rgba(255, 255, 255, 0.6);
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: 400;
                            z-index: 10;
                            border-bottom: none;
                            transition: all 0.2s ease 0s;
                        }
                    }
                }
            }
        }

    }

    .license{
        @include flexCenter;
        flex-direction: column;
        color:rgba(138, 140, 143, 0.7);
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        
    }
}