@import './mixin';
@import './mediaQuery';

.menu-header{
    position: relative;
    width: 100vw;
    z-index: 100;
    border-top: 5px solid #e03734;
    background-color: #202121;
    transition: all 0.5s ease;
    height: 82px;

    @include media("<=375px"){
        height: 62px;
    }

    .page-header{
        height: 100%;
        width: 60%;
        margin: auto;

        
    @include media("<=375px"){
        width: 95%;
    }

        .page-container{
            padding: 12px 12px 0 12px;
            display: flex;
            align-items: center;
            position: static;
            margin: auto;
            @include pageContainer;

            @include media("<=375px"){
                @include flexCenter;
                flex-direction: column;
            } 

            .logo{
                height: 60px;
                padding-right: 10px;
                width: 200px;
                @include media("<=375px"){
                    @include flexCenter;
                    width: 100%;
                    padding-right: 0;
                    height: 30%;
                 } 

                img{
                    @include media("<=375px"){
                        height: 50px;
                        width: 150px;
                     } 
                }
            }

                .page-header-nav{
                    display: flex;
                    list-style: none;
                    align-items: center;

                    @include media("<=375px"){
                        justify-content: space-around;
                        width: 100%;
                        height: 30%;
                     } 



                    li{
                        line-height: 1;
                        border: none;
                        background: none;
                        -webkit-appearance: none;
                        padding: 0 18px;
                        margin-left: 10px;
                        position: relative;
                        color: #fff;
                        font-weight: 500;

                        @include media("<=375px"){
                            padding: 5px 5px;
                            width: 30%;
                            margin-left: 0px;
                            font-size: 14px;
                         } 

                        svg{
                            @include media("<=375px"){
                                display: none;
                             } 
                         }
                    }

                    &::after{
                        display: table;
                        content: '';
                        line-height: 0;
                        clear: both;
                    }

                }

                .container-header-cta{
                    display: inline-block;
                    text-align: right;
                    height: auto;
                    width: calc(100% - 712px);
                    padding: 0px 0 8px;
                    margin-top: -5px;

                    @include media("<=375px"){
                        text-align: center;
                        width: 150px;
                        margin-top: 20px;
                        padding:0;
                        font-size: 12px;
                     } 
                
                    a{
                        text-decoration: none;
                        border: none;
                        background-color: #c9232c;
                        color: #fff !important;
                        text-shadow: 0 0 1px rgba(0, 0, 0,  0.35);
                        height: 32px;
                        line-height: 32px;
                        padding: 0 10px;
                        font-size: 16px;
                        font-weight: normal !important;
                        cursor: pointer;
                        white-space: nowrap;
                        border-radius: 4px;
                        display: inline-block;

                        @include media("<=375px"){
                            height: 32px;
                            font-size: 14px;
                        } 

                    }
                }
            }
        }
    }
