@import './Navbar';
@import './Hero';
@import './indexProduct';
@import './indexPlan';
@import './customers';
@import './footer';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    line-height: 1;
    overflow-y: scroll;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');