@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.menu-header {
  position: relative;
  width: 100vw;
  z-index: 100;
  border-top: 5px solid #e03734;
  background-color: #202121;
  transition: all 0.5s ease;
  height: 82px;
}

@media (max-width: 375px) {
  .menu-header {
    height: 62px;
  }
}

@media (max-width: 768px) {
  .menu-header {
    height: 62px;
  }
}

.menu-header .page-header {
  height: 100%;
  width: 60%;
  margin: auto;
}

@media (max-width: 375px) {
  .menu-header .page-header {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .menu-header .page-header {
    width: 95%;
  }
}

.menu-header .page-header .page-container {
  padding: 12px 12px 0 12px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  margin: auto;
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .menu-header .page-header .page-container {
    padding: 12px 10px 0 0;
  }
}

.menu-header .page-header .page-container .logo {
  height: 60px;
  padding-right: 10px;
  width: 200px;
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding-right: 0;
    height: 30%;
  }
}

@media (max-width: 768px) {
  .menu-header .page-header .page-container .logo {
    padding-right: 0;
    height: 30%;
    width: 140px;
  }
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container .logo img {
    height: 50px;
    width: 150px;
  }
}

.menu-header .page-header .page-container .page-header-nav {
  display: flex;
  list-style: none;
  align-items: center;
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container .page-header-nav {
    justify-content: space-around;
    width: 100%;
    height: 30%;
  }
}

.menu-header .page-header .page-container .page-header-nav li {
  line-height: 1;
  border: none;
  background: none;
  padding: 0 18px;
  margin-left: 10px;
  position: relative;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container .page-header-nav li {
    padding: 5px 5px;
    width: 30%;
    margin-left: 0px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .menu-header .page-header .page-container .page-header-nav li {
    padding: 3px 10px;
  }
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container .page-header-nav li svg {
    display: none;
  }
}

.menu-header .page-header .page-container .page-header-nav::after {
  display: table;
  content: '';
  line-height: 0;
  clear: both;
}

.menu-header .page-header .page-container .container-header-cta {
  display: inline-block;
  text-align: right;
  height: auto;
  width: calc(100% - 712px);
  padding: 0px 0 8px;
  margin-top: -5px;
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container .container-header-cta {
    text-align: center;
    width: 150px;
    margin-top: 20px;
    padding: 0;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .menu-header .page-header .page-container .container-header-cta {
    margin-top: 0;
  }
}

.menu-header .page-header .page-container .container-header-cta a {
  text-decoration: none;
  border: none;
  background-color: #c9232c;
  color: #fff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  padding: 8px 10px;
  font-size: 16px;
  font-weight: normal !important;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  display: inline-block;
}

@media (max-width: 375px) {
  .menu-header .page-header .page-container .container-header-cta a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .menu-header .page-header .page-container .container-header-cta a {
    padding: 4px 6px;
  }
}

.hero {
  height: 45vh;
  width: 100vw;
  background-color: #202122;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

@media (max-width: 375px) {
  .hero {
    height: 35%;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 40%;
  }
}

.hero .hero-text {
  width: 100%;
  margin: auto;
  height: 80%;
}

@media (max-width: 375px) {
  .hero .hero-text {
    width: 100%;
    margin: 100px auto 30px;
  }
}

@media (max-width: 768px) {
  .hero .hero-text {
    height: 100%;
    margin: auto;
  }
}

.hero .hero-text .jumbo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 50px;
  width: 100%;
}

@media (max-width: 375px) {
  .hero .hero-text .jumbo-text {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
  }
}

.hero .hero-text .jumbo-text h2 {
  line-height: 80px;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 375px) {
  .hero .hero-text .jumbo-text h2 {
    line-height: 30px;
    font-size: 15px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero .hero-text .jumbo-text h2 {
    line-height: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.hero .hero-text .jumbo-text h1 {
  line-height: 60px;
  margin-bottom: 0;
  font-size: 66px;
  color: #e03734;
  text-align: center;
  font-weight: 900;
  width: 100%;
}

@media (max-width: 375px) {
  .hero .hero-text .jumbo-text h1 {
    width: 95%;
    line-height: 120%;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 10px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero .hero-text .jumbo-text h1 {
    line-height: 110%;
    font-size: 46px;
    width: 100%;
  }
}

.hero .hero-bottom-links {
  margin: auto;
  height: 10%;
  font-size: 14px;
  margin-bottom: 5px;
  z-index: 999;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links {
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.hero .hero-bottom-links .page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container {
    align-items: flex-start;
    overflow: visible;
  }
}

@media (max-width: 768px) {
  .hero .hero-bottom-links .page-container {
    width: 90%;
  }
}

.hero .hero-bottom-links .page-container .dropdown {
  height: 100%;
  float: left;
  visibility: hidden;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container .dropdown {
    visibility: visible;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero .hero-bottom-links .page-container .dropdown {
    width: 0;
  }
}

.hero .hero-bottom-links .page-container .dropdown .dropdown-wrapper {
  width: 100%;
  margin: auto;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container .dropdown .dropdown-wrapper {
    padding: 14px 0;
  }
}

.hero .hero-bottom-links .page-container .dropdown .dropdown-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container .dropdown .dropdown-wrapper button {
    padding-top: 10px;
  }
}

.hero .hero-bottom-links .page-container .dropdown .dropdown-wrapper button i {
  padding-left: 5px;
}

.hero .hero-bottom-links .page-container .dropdown .dropdown-wrapper a {
  border-bottom: 1px solid rgba(211, 211, 211, 0.65);
}

.hero .hero-bottom-links .page-container .dropdown .dropdown-wrapper a:active {
  background-color: #cfcfcf;
}

.hero .hero-bottom-links .page-container .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: auto;
}

.hero .hero-bottom-links .page-container .dropdown-content {
  width: 60%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 111;
  margin: auto;
  margin-top: 10px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.65);
}

.hero .hero-bottom-links .page-container .dropdown-content:hover {
  visibility: visible;
}

.hero .hero-bottom-links .page-container .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.hero .hero-bottom-links .page-container .dropdown-content a:hover {
  background-color: #ddd;
}

.hero .hero-bottom-links .page-container .dropdown:hover .dropdown-content {
  visibility: visible;
}

.hero .hero-bottom-links .page-container ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -14px;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container ul {
    width: 0%;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .hero .hero-bottom-links .page-container ul {
    margin-left: 0;
    align-items: center;
    width: 77%;
  }
}

.hero .hero-bottom-links .page-container ul li {
  list-style: none;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container ul li {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .hero .hero-bottom-links .page-container ul li {
    width: 12%;
    align-items: center;
  }
}

.hero .hero-bottom-links .page-container ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: inherit;
  font-size: inherit;
  text-transform: none;
  border-width: 0;
  margin-right: 25px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container ul li a {
    margin-right: 5px;
    padding: 0 5px;
  }
}

@media (max-width: 768px) {
  .hero .hero-bottom-links .page-container ul li a {
    width: 10%;
  }
}

.hero .hero-bottom-links .page-container ul li svg {
  height: 15px;
  width: 15px;
  margin: 0 3px;
  fill: #cfd3d7;
}

@media (max-width: 375px) {
  .hero .hero-bottom-links .page-container ul li svg {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero .hero-bottom-links .page-container ul li svg {
    display: none;
  }
}

.hero .hero-bottom-links .page-container .trust {
  float: right;
  background: white;
  border-radius: 5px 5px 0 0;
  display: flex;
  color: #434447;
  margin-right: 25px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .hero .hero-bottom-links .page-container .trust {
    margin-right: 0;
    width: 22%;
    align-items: center;
    justify-content: center;
  }
}

.hero .hero-bottom-links .page-container .trust strong {
  display: inline-block;
  font-size: 150%;
  line-height: 1;
  font-weight: normal;
  margin: 18px 0;
  padding: 0 10px 0 15px;
  border-right: 1px solid #cfd3d7;
}

.hero .hero-bottom-links .page-container .trust p {
  font-size: 70%;
  padding: 0 10px;
  margin: 15px 0;
  line-height: 1.2;
}

.hero .hero-bottom-links .page-container .trust em {
  font-style: normal;
  font-weight: 500;
  color: #c9232c;
}

.feature {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  padding: 100px 0;
}

@media (max-width: 375px) {
  .feature {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .feature {
    padding: 20px 0;
  }
}

.feature .feature-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 375px) {
  .feature .feature-text {
    width: 80%;
    padding: 50px 0 25px;
  }
}

@media (max-width: 768px) {
  .feature .feature-text {
    width: 80%;
    margin: auto;
  }
}

.feature .feature-text h1 {
  padding-top: 70px;
  color: #2d3032;
  font-size: 36px;
  font-weight: 700;
}

.feature .feature-text p {
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  padding-bottom: 6px;
}

.feature .product-list {
  width: 100%;
  box-sizing: content-box;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

@media (max-width: 375px) {
  .feature .product-list {
    flex-wrap: wrap;
    padding-top: 5px;
  }
}

@media (max-width: 768px) {
  .feature .product-list {
    width: 90%;
    margin: auto;
    align-items: flex-start;
  }
}

.feature .product-list .index-product {
  width: 270px;
  padding: 0 30px;
  box-sizing: content-box;
  text-align: left;
}

@media (max-width: 375px) {
  .feature .product-list .index-product {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .feature .product-list .index-product {
    padding: 20px;
  }
}

.feature .product-list .index-product .ide {
  margin-top: 12px;
}

.feature .product-list .index-product .ide .ide-badge,
.feature .product-list .index-product .ide .cloud-badge,
.feature .product-list .index-product .ide .qube-badge {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature .product-list .index-product .ide .ide-badge {
  background-color: #c9232c;
}

.feature .product-list .index-product .ide .cloud-badge {
  background-color: #fd6a00;
}

.feature .product-list .index-product .ide .qube-badge {
  background-color: #4c9bd6;
}

.feature .product-list .index-product img {
  max-width: 100%;
  width: 240px;
  height: 60px;
}

.feature .product-list .index-product p {
  font-weight: 400;
  height: 42px;
  margin-top: 12px;
  line-height: 21px;
  font-size: 16px;
}

.feature .product-list .index-product .product-link {
  margin-top: 24px;
}

.feature .product-list .index-product .product-link a {
  display: inline-flex;
  align-items: center;
  color: #c9232c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.1s ease-in;
}

.feature .product-list .index-product .product-link a svg {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  fill: #c9232c;
}

.index-plan {
  width: 100vw;
  background-color: #f9f9fb;
  padding-top: 22px;
  padding-bottom: 50px;
  width: 100%;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-plan .plan-header {
  padding-top: 44px;
  color: #2d3032;
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 375px) {
  .index-plan .plan-header {
    width: 90%;
    text-align: center;
    padding-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .index-plan .plan-header {
    width: 90%;
    text-align: center;
    padding-bottom: 16px;
  }
}

.index-plan p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 6px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .index-plan p {
    width: 100%;
    padding-bottom: 0;
  }
}

.index-plan section {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

@media (max-width: 375px) {
  .index-plan section {
    width: 90%;
    flex-wrap: wrap;
  }
}

.index-plan section article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 40px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 375px) {
  .index-plan section article {
    padding: 13px 26px;
    font-weight: 300;
    line-height: 12px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .index-plan section article {
    padding: 0 10px;
  }
}

.index-plan section article .article-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 375px) {
  .index-plan section article .article-top {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }
}

.index-plan section article .article-top img {
  display: block;
  padding: 11px auto;
  height: 38px;
  width: 100%;
  text-align: center;
}

@media (max-width: 375px) {
  .index-plan section article .article-top img {
    width: 10%;
    height: 40px;
  }
}

.index-plan section article .article-top .article-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 375px) {
  .index-plan section article .article-top .article-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }
}

.index-plan section article .article-top .article-title h2 {
  margin-top: 22px;
  color: #2d3032;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

@media (max-width: 375px) {
  .index-plan section article .article-top .article-title h2 {
    margin-top: 12px;
  }
}

@media (max-width: 768px) {
  .index-plan section article .article-top .article-title h2 {
    margin-top: 12px;
  }
}

.index-plan section article .article-top .article-title span {
  text-transform: uppercase;
  color: #8a8c8f;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 4px;
  padding-bottom: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .index-plan section article .article-top .article-title span {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .index-plan section article p {
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .index-plan section article p {
    line-height: 100%;
    font-size: 14px;
  }
}

.index-plan a {
  margin: 33px auto;
  border: none;
  background-color: #c9232c;
  color: #fff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 768px) {
  .index-plan a {
    margin: 30px auto;
  }
}

.customers {
  width: 100%;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.customers .text {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 375px) {
  .customers .text {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .customers .text {
    width: 95%;
  }
}

.customers .text h2 {
  padding-top: 70px;
  color: #2d3032;
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 375px) {
  .customers .text h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .customers .text h2 {
    padding: 70px 0 40px;
  }
}

.customers .text p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 6px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .customers .text p {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .customers .text p {
    width: 85%;
  }
}

.customers .brand-list {
  padding-bottom: 35px;
  margin: 30px auto;
}

@media (max-width: 375px) {
  .customers .brand-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.customers .brand-list img {
  margin: 0 5px;
}

@media (max-width: 375px) {
  .customers .brand-list img {
    width: 90px;
    padding: 10px;
  }
}

.customers .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers .button a {
  text-decoration: none;
  border: 1px solid #c9232c;
  background-color: transparent;
  color: #c9232c;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

footer {
  margin-top: 4rem;
  width: 100vw;
  height: 50vh;
  padding: 40px 0;
  color: #ffffff;
  background-color: #202122;
}

@media (max-width: 375px) {
  footer {
    height: 80vh;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  footer {
    height: 60vh;
    overflow: hidden;
  }
}

footer .wrapper {
  height: 100%;
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0;
}

@media (max-width: 375px) {
  footer .wrapper {
    width: 95%;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  footer .wrapper {
    width: 95%;
  }
}

footer .wrapper .sns-link {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin-top: -13px;
  margin-bottom: 16px;
}

@media (max-width: 375px) {
  footer .wrapper .sns-link {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  footer .wrapper .sns-link {
    width: 25%;
    height: 20%;
    display: flex;
    flex-direction: column;
  }
}

footer .wrapper .sns-link img {
  width: auto;
  height: 35px;
}

footer .wrapper .sns-link span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .wrapper .sns-link span a {
  color: rgba(138, 140, 143, 0.7);
  padding: 10px;
}

footer .wrapper .contents {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 375px) {
  footer .wrapper .contents {
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  footer .wrapper .contents {
    width: 80%;
  }
}

footer .wrapper .contents .footer-content {
  padding: 0 30px;
}

@media (max-width: 375px) {
  footer .wrapper .contents .footer-content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  footer .wrapper .contents .footer-content {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
}

footer .wrapper .contents .footer-content h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

@media (max-width: 375px) {
  footer .wrapper .contents .footer-content h4 {
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

footer .wrapper .contents .footer-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

footer .wrapper .contents .footer-content ul li {
  padding: 0 4px;
  margin: 0 -4px 8px;
}

@media (max-width: 375px) {
  footer .wrapper .contents .footer-content ul li {
    margin: 0 0 2px;
    padding: 0;
  }
}

footer .wrapper .contents .footer-content ul li a {
  text-decoration: none;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  z-index: 10;
  border-bottom: none;
  transition: all 0.2s ease 0s;
}

@media (max-width: 375px) {
  footer .wrapper .contents .footer-content ul li a {
    font-weight: 300;
    font-size: 12px;
    line-height: 10px;
  }
}

footer .license {
  width: 100%;
  text-align: center;
  color: rgba(138, 140, 143, 0.7);
  font-size: 12px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=style.css.map */